.sidebar {
    height: 100%;
    background-color: #fafafa;
    padding-top: 8px;
}

.active {
    background-color: rgba(63, 81, 181, 0.1);
    color: #3f51b5;
}

.active mat-icon {
    color: #3f51b5;
}